.nameHeader {
  display: flex;
  justify-content: center;
  padding: 5em;
  text-align: center;
}

.uniqueHeader {
  display: flex;
  padding: 5em;
  justify-content: center;
}

#carouselFrontPage {
  height: auto;
}

.journal-entries-container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: content;
  justify-content: space-between;
  width: 10 rem;
}

.card {
  width: 22rem;
}

/* .carousel-item{
    data-interval
} */

/* .unique{
    display: flex;
    justify-content: center;
} */
