.background-div{
  background-image: url('/oneplus.jpg');
  background-size: cover;
  height: 100vh;
  justify-content: center;
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.name-header {
  display: flex;
  opacity: 75%;
  background-color: #dbd4d4;
  width: 30rem;
  height: 30rem;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar {
  opacity: 75%;
  background-color: #095a94
}

#carouselFrontPage {
  height: auto;
}

.journal-entries-container {
  display: flex;
  flex-flow: row wrap;
  flex-basis: content;
  justify-content: space-between;
  width: 10 rem;
}

.card {
  width: 22rem;
}


/* .carousel-item{
    data-interval
} */

/* .unique{
    display: flex;
    justify-content: center;
} */
